@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    color: white
}

.container-card {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card .left-card {
    width: 30%;
    height: 100%;
    background-image: url('../images/bg-main-desktop.png');
}

.container-card .left-card .card {
    position: relative;
    width: 450px;
    height: 250px;
    background-image: url('../images/bg-card-front.png');
    background-repeat: no-repeat;
    top: 150px;
    left: 130px;
}

.container-card .left-card .card .circle {
    position: relative;
    top: 30px;
    left: 35px;
    width: 50px;
    height: 50px;
    background-image: url(../images/card-logo.svg);
    background-repeat: no-repeat;
}

.container-card .left-card .card .circle::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    left: 70px;
    top: 12px;
}

.container-card .left-card .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: 130px;
    top: 30px;
    margin: 0px 30px;
}

.container-card .left-card .info .number {
    position: relative;
    width: 390px;
    margin: 0px auto;
    font-size: 35px;
}

.container-card .left-card .info .data {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.container-card .left-card .card-back {
    position: relative;
    width: 450px;
    height: 250px;
    background-image: url('../images/bg-card-back.png');
    background-repeat: no-repeat;
    top: 70px;
    left: 220px;
}

.container-card .left-card .card-back p {
    position: relative;
    height: 20px;
    width: 20px;
    top: 110px;
    left: 360px;
}

/* RIGHT ----- CARD */

.container-card .right-card {
    width: 70%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container-card .right-card .personal-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 360px;
    height: 360px;
}

.container-card .right-card .personal-info label {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(192, 192, 192);
    color: black;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0;
}

.container-card .right-card .personal-info .date-info {
    display: flex;
}

.container-card .right-card .personal-info .date {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.container-card .right-card .personal-info .code {
    width: 55%;
    padding-left: 10px;
}

.input-date {
    margin: 10px 3px 10px 0px;
    width: 70px;
}

.input-code {
    width: 100%;
    margin: 10px 0;
}

input[type=submit] {
    background-color: hsl(278, 68%, 11%);
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}

.container-card .right-card .personal-info label.error, .container-card .right-card .personal-info .date-info label.error {
    width: 70px;
    height: 12px;
    font-weight: 700;
    display: flex;
    color: #f00;
    font-size: 10px;
    margin-bottom: 15px;
}

.container-card .right-card .personal-info label.error{
    width: 25rem;
}


/* RESPONSIVE */

@media (max-width:500px) {
    .container-card {
        display: flex;
        flex-direction: column;
        width: 525px;
        height: 890px;
    }

    .container-card .left-card {
        width: 100%;
        height: 500px;
        background-size: cover;
    }

    .container-card .left-card .card {
        z-index: 1;
        left: 20px;
        top: 160px;
        height: 220px;
        width: 400px;
        background-size: contain;
    }

    .container-card .left-card .card-back {
        top: 30px;
        left: 80px;
        background-size: contain;
        height: 235px;
        position: absolute;
        width: 420px;
    }

    .container-card .left-card .card .circle {
        top: 20px;
        width: 50px;
        height: 50px;
        background-size: cover;
        left: 20px;
    }

    .container-card .left-card .card .circle::before {
        left: 65px;
        top: 10px;
    }

    .container-card .left-card .info {
        z-index: 1;
        font-size: 10px;
        left: 35px;
        width: 365px;
        margin: 20px 0;
    }

    .container-card .left-card .info .number {
        font-size: 30px;
        margin: 3px auto;
        width: 335px;
    }

    .container-card .left-card .info .data {
        margin: 10px 15px;
        font-size: 15px;
    }

    .container-card .left-card .card-back p {
        left: 21rem;
        top: 6.5rem;
    }


    .container-card .right-card {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .container-card .right-card .personal-info {
        width: 90%;
    }
    
    .container-card .right-card .personal-info .date {
        width: 38%;
    }

    .container-card .right-card .personal-info label.error{
        width: 25rem;
    }
}
